<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="ConnSchema" value="dbo"/>
		<add key="ConnStr" value="data source=192.168.0.11\SQLEXPRESS;User Id=yz; Password=Cemof_xyz; Initial Catalog=CEM; Connect Timeout=15200; min pool size=4; max pool size=25; pooling=true; Enlist=True;Application Name=KAS_WEB_{0};"/>
		<!--<add key="ConnStr" value="data source=WINDOWS2019SRV;User Id=sa; Password=kas1122..; Initial Catalog=CEM; Connect Timeout=15200; min pool size=4; max pool size=25; pooling=true; Enlist=True;Application Name=UYGAR_WEB_{0};"/>-->
		<add key="mysqlConn" value="Server=mysql.cemofset.local;Uid=adminer;Pwd=kas1122..;Database=CEM_LOG;CharSet=utf8;max pool size=10000;"/>
		<add key="VTADI" value="CEM2022"/>
		<add key="VTKADI" value="TEMELSET"/>
		<add key="VTKSIFRE" value=""/>
		<add key="NETKULADI" value="metarsis"/>
		<add key="NETSIFRE" value="1212"/>
		<add key="mysqlDbName" value="CEM"/>
		<add key="DbType" value="SQL"/>
		<add key="sch" value="dbo"/>
		<add key="ConnSchema" value="dbo"/>
		<add key="ERPDBNAME" value="KAS604"/>
		<add key="DosyaYolu" value="E:\Dosylar"/>
		<add key="RHOST" value="192.168.0.11"/>
		<add key="RPORT" value="5672"/>
		<add key="RUSER" value="uygar"/>
		<add key="RPAS" value="kas1122.."/>
		<add key="ISLOG" value="1"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
