<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="ConnSchema" value="dbo" />
		<add key="ConnStr" value="data source=192.168.2.6;User Id=sa; Password=Kas1122..; Initial Catalog=KASY; Connect Timeout=2147483647; min pool size=4; max pool size=25; pooling=true; Enlist=True;Application Name=UYGAR_KMPR_{0}" />
		<!--<add key="mysqlConn" value="Server=mysqlt.mshome.net;Uid=adminer;Pwd=Kas1122..;Database=SERIFLER;CharSet=utf8;"/>-->
		<add key="mysqlConn" value="Server=localhost;Uid=root;Pwd=kas1122..;Database=SERIFLER;CharSet=utf8;" />

		<add key="PostgreConn" value="User ID=postgres;Password=kas1122..;Host=postgre.mshome.net;Port=5432;Database=serifler;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;" />
		<add key="mysqlDbName" value="SERIFLER" />
		<add key="PostgreDbName" value="serifler" />
		<add key="DbType" value="MYSQL" />
		<add key="sch" value="SERIFLER" />
		<add key="PgShema" value="public" />
		<add key="ERPDBNAME" value="KAS604" />
		<add key="DosyaYolu" value="D:\_jobs\ŞERİFLER\Dokumlar" />
		<add key="RHOST" value="windows2019srv" />
		<add key="RPORT" value="5672" />
		<add key="RUSER" value="uygar" />
		<add key="RPAS" value="kas1122.." />
		<add key="ISLOG" value="0" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.PerformanceCounter" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
